<p><a href="/ideas">Bright Idea</a> <a href="/logout">LogOut</a></p>
<p>Name: <%= @finduser.name %></p>
<p>Alias: <%=@finduser.alias %></p>
<p>Email: <%=@finduser.email %></p>
<p id="break">
	Total Number of Post: <%= @totalideas %>
</p>
<p>
	Total Number of Likes: <%= @totallikes %>
</p>